$white-color: #ffffff;
$bright-gray-color: #F6F7FF;
$light-gray-color: #C1C2CA;
$gray-color: #707C87;
$black-color: #1F1E25;
$black-dark-gray-color: #222222;
$basic-blue-color: #48a3a1;
$basic-yellow-color: #f0ff00;
$basic-green-color: #89c869;
$basic-orange-color: #f78b2f;
$basic-cherry-color: #a83452;
$middle-cherry-color: #913054;
$bright-blue-color: #b4d1bc;
$middle-blue-color: rgba(22, 65, 89, 0.7);
$dark-blue-color: rgba(22, 65, 89, 1);
$middle-orange-color: #deae50;
$basic-brown-color: #89504a;
$basic-sand-color: #fbc49c;
$basic-purple-color: #5b4b5f;
$opacity-cherry-color: rgba(168, 52, 82, 0.7);
$opacity-black-color: rgba(59, 62, 67, 0.7);
